$mainText-color: whitesmoke;

.nav_div {
    width: 100%;
}

h1 {
    color: $mainText-color;
    font-size: 96px;
    margin-top: 112px;
}

h6 {
    font-size: 24px;
    font-weight: 400;
    color: $mainText-color;
}

section {
    height: 100vh;
    width: 100%;
    background-image: url('./../../../assets/img/1_hero/JPG/hero_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 70px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 48px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 36px;
    }

    h6 {
        font-size: 16px;
    }
}