
<section>
    <h2 id="order"> HOW TO ORDER </h2>

    <div class="icons_container">
        <div class="icons">
            <img class= "icon" src="./../../../assets/img/2_section_how_to_order/SVG/noodle.svg" alt="poth with noodle">
            <h3 id="noodle">Pick your noodle</h3>
        </div>

        <div class="icons">
            <img class= "icon" src="./../../../assets/img/2_section_how_to_order/SVG/broth.svg" alt="poth with hot soup">
            <h3 id="broth">Pick your broth</h3>
        </div>

        <div class="icons">
            <img class= "icon" src="./../../../assets/img/2_section_how_to_order/SVG/egg.svg" alt="eggs">
            <h3 id="toppings">Add your toppings</h3>
        </div>
    </div>
</section>