nav {
    padding: 0 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 112px;

    >img {
        width: 64px;
        height: 64px;
    }

    >div {
        display: flex;
        align-items: center;
        gap: 24px;

        >a {
            &:hover {
                color: #9f0908;
            }
        }
    }
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-family: Raleway;
    font-size: 24px;
}

.phoneBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 220px;
    height: 44px;
    background-color: #9f0908;
    border: 1.5px solid white;
    border-radius: 8px;
    font-variant: small-caps lining-nums;

    &:hover {
        background-color: #db0909;
    }

    >img {
        width: 32px;
        cursor: pointer;
    }
}

@media (max-width: 1200px) {
    nav {
        padding: 0 32px;

        >img {
            width: 32px;
            height: 32px;
        }

        >div {
            gap: 12px;
        }
    }

    a {
        font-size: 16px;
    }

    .phoneBtn {
        width: 170px;

        >img {
            width: 22px;
        }
    }
}

@media (max-width: 768px) {
    .phoneBtn {
        width: 150px;
        height: 36px;

        >img {
            width: 22px;
        }
    }
}

@media (max-width: 576px) {
    nav {
        padding: 0 18px;

        >div {
            flex-direction: column-reverse;
            align-items: end;
            padding-top: 50px;
        }

        .phoneBtn {
            height: 26px;
        }
    }
}